@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-fullSlider: 174deg 77% 80%;
    --color-sliderBg: 174deg 86% 45%;
    --color-discountBg: 14deg 92% 95%;
    --color-discountText: 15deg 100% 70%;
    --color-ctaText: 226deg 100% 87%;

    --color-pricingCompBg: 0deg 0% 100%;
    --color-mainBg: 230deg 100% 99%;
    --color-emptySlider: 224deg 65% 95%;
    --color-toggleBg: 223deg 50% 87%;
    --color-text: 225deg 20% 60%;
    --color-ctaBg: 227deg 35% 25%;
  }
}
