@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {

--color-full-slider: 174deg 77% 80%;
--color-sliderBg: 174deg 86% 45%;
--color-discountBg: 14deg 92% 95%;
--color-discountText: 15deg 100% 70%;
--color-ctaText: 226deg 100% 87%;


--color-pricingCompBg: 0deg 0% 100%;
--color-mainBg: 230deg 100% 99%;
--color-emptySlider: 224deg 65% 95%
- Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
- Grayish Blue (Text): hsl(225, 20%, 60%)
- Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%) */

    }
}

