@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-purple: 259deg 100% 65%;
    --color-lightRed: 0deg 100% 67%;

    --color-white: 0deg 0% 100%;
    --color-offWhite: 0deg 0% 94%;
    --color-lightGray: 0deg 0% 86%;
    --color-smokeyGray: 0deg 1% 44%;
    --color-offBlack: 0deg 0% 8%;
  }
}
